body {
    margin: 0px;
    padding: 0px;
}

.header {
    width: 100%;
    height: 200px;
    background-color: white;
}

.main-content {
    background-color: #0F99A8;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.counter-container {
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
background-image: url('./assets/Intersection\ 4.png');
background-repeat: no-repeat;
background-size: cover;
box-shadow: 0px 3px 40px #01577D;
position: relative;
padding: 40px 100px;
margin: 40px;
}



.counter-container h1 {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-family: 'avenir';
    font-size: 48px;
}

.counter {
    background: white;
    height: 200px;
    width: 100%;
    border-radius: 35px;
    display: flex;
    align-items: center;
}

.login-button {
    background-color: #EF483D;
    box-shadow: 0px 3px 30px rgba(0,0,0,.16);
    border-radius: 10px;
    height: 60px;
    color: white;
    font-family: 'Avenir';
    font-size: 28px;
    border: none;
    padding: 0px 20px;
    margin: 32px 0px;
}

.login-button:focus {
    outline: none;
}

.login-button:hover {
    cursor: pointer;
}

.countdown-timer {
    width: 100%;

  
}

.count-down {
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}

.countdown {
    width: 100%;
}

.timer {
    text-align: center;
    color: #F47F42;;
    font-family: 'Avenir';
    border-right: 1px solid #F47F42;
    padding-right: 30px;
}

.timer:last-child {
    border: none;
    padding-right: 0px;
}

.timer h2 {
    font-family: 'Avenir';
    color: #F47F42;
    font-weight: 600;
    font-size: 90px;
    margin: 0px;
}

.timer small {
    text-transform: uppercase;
    font-weight: 600;
}